# Build
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/

# Rider
.idea/

# Logs
*.log

# Arquivos de ambiente
appsettings.Development.json
.env
secrets.json
config.local.json

# Banco local
*.mdf
*.ldf

# Pacotes
packages/

# Outros
*.tmp
*.cache

# DLLs
*.dll